<a href="https://colab.research.google.com/github/rsconsuegra/MisionTIC2021/blob/main/ArreglosUnidimencionales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creación e indexación

In [53]:
a = [1, 3, 9, 'Py', 217.213]
a

[1, 3, 9, 'Py', 217.213]

In [54]:
lista = [2,5,4,1,5,9,7,4,1]
indice = 0
print(lista[indice])
indice = 4
print(lista[indice])
indice = -1
print(lista[indice])

2
5
1

## Slicing

In [22]:
print(lista[2:9])

[4, 1, 5, 9, 7, 4, 1]

In [40]:
a = [1, 2, 3, 4, 5, 6]
a[1:3] = [9, 9, 9, 9]
print(a)

[1, 9, 9, 9, 9, 4, 5, 6]

In [51]:
a = [1, 2, 3, 4, 5, 6]
a[::2]

[1, 3, 5]

# Algunas funciones asociadas a listas

In [55]:
#Longitud, agregar y sacar
print(len(lista))
lista.append(4)
print(f'La longitud es {len(lista)} y el último elemento es {lista[-1]}\n')

print(lista.pop())
print(f'La longitud es {len(lista)} y el último elemento es {lista[-1]}')

9
La longitud es 10 y el último elemento es 4

4
La longitud es 9 y el último elemento es 1

In [56]:
#Insertar en la posición y eliminar la primera aparición
lista.insert(1, 'poodle')
print(lista)
lista.remove('poodle')
print(lista)
lista.insert(1, 'poodle')
print(lista)
del lista[1]
print(lista)

[2, 'poodle', 5, 4, 1, 5, 9, 7, 4, 1]
[2, 5, 4, 1, 5, 9, 7, 4, 1]
[2, 'poodle', 5, 4, 1, 5, 9, 7, 4, 1]
[2, 5, 4, 1, 5, 9, 7, 4, 1]

In [57]:
#Buscar la primera aparición de un elemento
print(lista.index(4))

#Buscar la primera aparición de un elemento, a partir de la posición n
print(lista.index(4,4))

2
7

In [58]:
print(lista.index(10))

ValueError: ignored

In [59]:
#Está un elemento en la lista?
print(4 in lista)
print(10 in lista)

True
False

In [60]:
#Ordernar la lista con sort cambia la lista original
lista.sort(reverse=True)
for elemento in lista:
    print(elemento)

9
7
5
5
4
4
2
1
1

In [61]:
# Sorted no la cambia
lista = [2,5,4,1,5,9,7,4,1]
print(sorted(lista))
print(lista)

[1, 1, 2, 4, 4, 5, 5, 7, 9]
[2, 5, 4, 1, 5, 9, 7, 4, 1]

In [62]:
lista.reverse()
lista

[1, 4, 7, 9, 5, 1, 4, 5, 2]

In [63]:
lista[::-1]

[2, 5, 4, 1, 5, 9, 7, 4, 1]

In [64]:
lista.count(1)

2

In [65]:
a = [1,5,9,74]
b = [4,4,7,9,4]
a.append(b)
print("Append: ",a)

Append:  [1, 5, 9, 74, [4, 4, 7, 9, 4]]

In [66]:
a = [1,5,9,74]
b = [4,4,7,9,4]
a.extend(b)
print("Extend: ",a)

Extend:  [1, 5, 9, 74, 4, 4, 7, 9, 4]

In [39]:
# Otro modo de hacer un extend: 
a = [1,5,9,74]
b = [4,4,7,9,4]
a = a + b
print(a)

[1, 5, 9, 74, 4, 4, 7, 9, 4]

# Iterando sobre listas

In [ ]:
for elemento in lista:
  print(f'{elemento}')

2
5
4
1
5
9
7
4
1

In [ ]:
gente = ['Pedro','Lisa','Maria','Juan']
for nombre in gente:
  print(nombre)

Pedro
Lisa
Maria
Juan

In [ ]:
min_val = min(lista)
max_val = max(lista)
total_sum = sum(lista)

print(min_val)
print(max_val)
print(total_sum)

1
9
38

In [ ]:
lista.count(1)

2

# Temas avanzados

## Operaciones con lista e iteradores

In [ ]:
for posicion,nombre in enumerate(gente):
  print(f'El {posicion} fue {nombre}')

El 0 fue Pedro
El 1 fue Lisa
El 2 fue Maria
El 3 fue Juan

## List Comprehension

In [ ]:
# Mostrar el cuadrado de los primeros 10 numeros
squares = []

for number in range(1,11):
    new_square = number**2
    squares.append(new_square)

for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Mostrar el cuadrado de los primeros 10 numeros
squares = []

for number in range(1,11):
    squares.append(number**2)
    
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

In [ ]:
squares = [number**2 for number in range(1,11)]

for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Con texto: 

students = ['bernice', 'aaron', 'cody']

great_students = []
for student in students:
    great_students.append(student.title() + " the great!")

for great_student in great_students:
    print("Hello, " + great_student)

Hello, Bernice the great!
Hello, Aaron the great!
Hello, Cody the great!

In [ ]:
students = ['bernice', 'aaron', 'cody']

great_students = [student.title() + " the great!" for student in students]

for great_student in great_students:
    print("Hello, " + great_student)

Hello, Bernice the great!
Hello, Aaron the great!
Hello, Cody the great!

In [67]:
vec = [-4, -2, 0, 2, 4]
print([x for x in vec if x >= 0])

[0, 2, 4]

In [68]:
print([(x, x**2) for x in range(6)])

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [69]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Copiado de listas

In [31]:
lista= [2,1,4,3]
listb = lista
print(listb) 

lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4, 3]
[2, 1, 4]
[2, 1, 4, 9]

¿Cual será el valor de 

```
print(listb)
```
?

In [ ]:
listb = lista[:]
listb = lista.copy()

# Tupla

In [36]:
a = (1,3)
a[0] = 4

TypeError: ignored